html {
    font-size: 10px;
    background-color: black;

}

.homepage-container{
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.homepage-left-container img{
    width: 30rem;
    height: 30rem;
}